<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>

<h2>Вход в систему</h2>

<!-- Ошибки и уведомления -->
<b th:if="${param.error}">Ошибка: Неверный логин или пароль</b>

<form th:action="@{/auth/login}" method="post">
    <label for="username">Имя пользователя:</label><br>
    <input type="text" id="username" name="username" required autofocus/><br><br>

    <label for="password">Пароль:</label><br>
    <input type="password" id="password" name="password" required/><br><br>

    <button type="submit">Войти</button>
</form>

</body>
</html>
